﻿@using PagedList;
@using PagedList.Mvc;

@model DMS.Models.TransactionModel

@{
    ViewBag.Title = "BankTransactionList";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Bank Transactions
        </h1>


    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Filter</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="row">

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Region</label>
                                        @Html.DropDownListFor(modelItem => Model.RegionCode, new SelectList(ViewBag.Regions, "RegionCode", "RegionName", Model.RegionCode),
                            "Select Region", new { @class = "form-control select2" })
                                        @* <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Select Region</option>
                                        <option>Select Value 1</option>
                                        <option>Select Value 2</option>
                                        <option>Select Value 3</option>
                                        <option>Select Value 4</option>
                                        <option>Select Value 5</option>
                                        <option>Select Value 6</option>
                                    </select>*@
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Depot</label>
                                        @Html.DropDownListFor(modelItem => Model.DepotId, new SelectList(ViewBag.Depots, "DepotId", "DepotName", Model.DepotId),
                            "Select Depot", new { @class = "form-control select2" })
                                        @*<select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Select Depot</option>
                                        <option>Select Value 1</option>
                                        <option>Select Value 2</option>
                                        <option>Select Value 3</option>
                                        <option>Select Value 4</option>
                                        <option>Select Value 5</option>
                                        <option>Select Value 6</option>
                                    </select>*@
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>From Date</label>

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @if (Model.FromDate.HasValue)
                                            {
                                                <input type="text" class="form-control pull-right" id="FromDate" value="@Model.FromDate.Value.ToShortDateString()" name="FromDate" >
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control pull-right" id="FromDate" value="@Model.FromDate" name="FromDate" >
                                                
                                            }
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>To Date</label>

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @if (Model.ToDate.HasValue)
                                            {
                                                <input type="text" class="form-control pull-right" id="ToDate" name="ToDate" value="@Model.ToDate.Value.ToShortDateString()" >
                                        
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control pull-right" id="ToDate" name="ToDate" value="@Model.ToDate" >
                                        
                                            }
                                            <input type="hidden" class="form-control pull-right" id="pages" name="page" value="1">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>

                                        @Html.DropDownListFor(modelItem => Model.Status, new SelectList(ViewBag.StatusStages, "Name", "Name", Model.Status),
                            "Select Status", new { @class = "form-control select2" })

                                        @*<select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Select Status</option>
                                        <option>Completed</option>
                                        <option>Pending</option>
                                    </select>*@
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">SEARCH</button>
                            <button type="button" id="reset" class="btn btn-default">RESET</button>
                        </div>
                    }
                </div>

                <div class="box">
                    <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Depot Name</th>
                                        <th>DSR</th>
                                        <th>Transaction Date</th>
                                        <th>Transaction Amount</th>
                                        <th>Bank Name</th>
                                        <th>Bank Branch</th>
                                        <th>Receipt</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.bankTransactionBO)
                                    {
                                        <tr>
                                            <td>@item.DepotName </td>
                                            <td>@item.DSRNo</td>
                                            <td>@item.TransactionDate.Value.ToShortDateString()</td>
                                            <td>@item.TransactionAmount</td>
                                            <td>@item.BankName</td>
                                            <td>@item.BankBranch</td>

                                            <td><a href="@item.TransactionImage" target="_blank">View</a></td>

                                            <td>

                                                @if (item.StatusGroup.ToLower() == "pending")
                                                {
                                                    <span class="label label-warning">@item.Status</span>
                                                }
                                                @if (item.StatusGroup.ToLower() == "approved")
                                                {
                                                    <span class="label label-success">@item.Status</span>
                                                }
                                                @if (item.StatusGroup.ToLower() == "confirm")
                                                {
                                                    <span class="label label-info">@item.Status</span>
                                                }
                                                @if (item.StatusGroup.ToLower() == "rejected")
                                                {
                                                    <span class="label label-danger">@item.Status</span>
                                                }

                                            </td>
                                            <td>

                                                @if (item.StatusGroup.ToLower() == "rejected")
                                                {
                                                    var key = DMSBO.EncryptOperation.Encode(item.PKTransactionId.ToString());
                                                    if (User.IsInRole("SPADM") || User.IsInRole("HOSPR") || User.IsInRole("ACTNT"))
                                                    {    <a href="~/User/EditTransaction?key=@key" style="float:right"><i class="fa fa-edit"></i></a>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @if (item.StatusGroup.ToLower() == "rejected" || item.StatusGroup.ToLower() == "confirm")
                                                {  
                                                    <form method="post" action="~/User/ApproveTransaction">
                                                        <input type="hidden" value="@item.PKTransactionId" name="Id" />
                                                        <a title="Reject" data-toggle="modal" data-target="#@item.PKTransactionId" data-title="Reject"  class="btn btn-danger">REJECT</a>
                                                        <button title="Approve" type="submit" data-toggle="confirmation" data-placement="top" class="btn btn-success">APPROVE</button>
                                                    </form>

    
                                                    <!-- Modal HTML -->
                                                    <div id="@item.PKTransactionId" class="modal fade">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title">Reject TransactionID : @item.PKTransactionId</h4>
                                                                </div>
                                                                <form method="post" action="~/User/RejectTransaction">

                                                                    <div class="modal-body">

                                                                        <div class="form-group" style="width: 100%">
                                                                            <label for="message-text" class="control-label">Message:</label>
                                                                            <input type="hidden" value="@item.PKTransactionId" name="Id" />
                                                                            <textarea class="form-control " style="width: 100%" name="Comment" id="message-text"></textarea>
                                                                        </div>


                                                                    </div>


                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                                        <button type="submit" class="btn btn-danger">Reject</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Modal HTML -->
                                              



                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                            <div id='Paging' style="text-align: center">
                                Page @(Model.bankTransactionBO.PageCount < Model.bankTransactionBO.PageNumber ? 0 : Model.bankTransactionBO.PageNumber)
                                of @Model.bankTransactionBO.PageCount

                                @Html.PagedListPager(Model.bankTransactionBO, page => Url.Action("bankTransactionList", new
                           {
                               page,
                               DepotId = Model.DepotId,
                               FromDate = Model.FromDate,
                               Status = Model.Status,
                               ToDate = Model.ToDate,
                               RegionCode = Model.RegionCode
                           }))
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    //Date picker
    $('#FromDate').datepicker({
        autoclose: true
    });
    $('#ToDate').datepicker({
        autoclose: true
    });


    $("#reset").on("click", function () {

        var url = '@Url.Action("BankTransactionList", "User")';
        window.location.href = url;
    });

</script>
