﻿@model DMS.Models.BankModel
@{
    ViewBag.Title = "BankList";
}


 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Bank Management
        
        
          <div class="pull-right">
               @using (Html.BeginForm("UploadBankAccount", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
               
                                                            {
            <button type="button" class="btn btn-facebook" data-toggle="modal" data-target="#importbank" data-title="Reject" >IMPORT</button>
            <button type="submit" id="btn-export" name="ActionPost" value="Export"  class="btn btn-facebook"><i class="fa fa-file-excel-o" aria-hidden="true"></i> EXPORT</button>
         
              
               <!-- Modal HTML -->
                                                <div id="importbank" class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title">Import Bank Account</h4>
                                                            </div>
                                                           
                                                                <div class="modal-body">

                                                                 <div class="col-md-12">
                                                                    <div class="form-group" >
                                                                        <label for="message-text" class="control-label LableFont">Select File:</label>
                                                                        <input type="file" class="form-control" name="BankFile" />
                                                                         </div>
                                                                        </div>


                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                                                                    <button type="submit" name="ActionPost" value="Upload" class="btn btn-primary">Upload</button>
                                                                 </div>
                                                       
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal HTML -->
               }
               </div>
      </h1>
      <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Management</li>
      </ol>-->
      
    </section>

    

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Search Filter</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
              @using(Html.BeginForm())
              {
        <div class="box-body">
          <div class="row">
          	
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Bank Name</label>
                <input type="text" id="BankName" name="BankName" value="@Model.BankName" class="form-control" style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Acount No.</label>
                <input type="text" id="AccountNo" name="AccountNo" value="@Model.AccountNo" class="form-control" style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Status</label>
                                      @Html.DropDownListFor(modelItem => Model.Active, new SelectList(ViewBag.ItemStatus, "Id", "Name", Model.Active),
                    "Select Status",new { @class = "form-control select2" })
                @*<select name="Active" class="form-control select2" style="width: 100%;">
                  <option selected="selected">Select Status</option>
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                </select>*@
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <div class="box-footer">
        	<button type="submit" class="btn btn-primary">SEARCH</button>
            <button type="button" id="reset"class="btn btn-default">RESET</button>
                                                             
        </div>
              }

      </div>
          
          <div class="box">
            <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Bank Name</th>
                  <th>Acount No.</th>
                  <th>Branch</th>
                  <th>Region</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                   @foreach(var item in Model.BankList)
                   {
                       var i = " " + @item.AccountNumber;
                           
                     <tr>
                  <td>@item.BankName</td>
                  <td class="text"> @i</td>
                  <td>@item.BankBranch</td>
                  <td>@item.RegionCodes</td>
                  <td class="ActiveStatus">
                      @if(item.ActiveStatus==0)
                      {
                  <p>Deactive</p>	
                      }
                      else
                      {
                          <p>Active</p>
                      }
                          </td>
                </tr>
                   }
                </tbody>
              </table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

   <script>
         

       $(document).ready(function () {


           $("#BankName").autocomplete({
               source: function (request, response) {
                   $.ajax({
                       url: "/User/bankjson",
                       type: "POST",
                       dataType: "json",
                       data: { Prefix: request.term },
                       success: function (data) {
                           response($.map(data, function (item) {
                               return { label: item.BankName, value: item.BankId };
                           }))

                       }
                   })
               },
               messages: {
                   noResults: "", results: ""
               }
           });

           $("#AccountNo").autocomplete({
               source: function (request, response) {
                   $.ajax({
                       url: "/User/bankaccjson",
                       type: "POST",
                       dataType: "json",
                       data: { Prefix: request.term },
                       success: function (data) {
                           response($.map(data, function (item) {
                               return { label: item.AccountNo, value: item.AccountNo };
                           }))

                       }
                   })
               },
               messages: {
                   noResults: "", results: ""
               }
           });

       });
             </script>
<script>

    $("#reset").on("click", function () {
        
        var url = '@Url.Action("BankList", "User")';
        window.location.href = url;
    });


    $(document).ready(function () {


        var buttonCommon = {
            exportOptions: {
                format: {
                    body: function (data, row, column, node) {
                        // Strip $ from salary column to make it numeric
                        return column ===4 ?
                       data.replace(/[D]/ig, "blablabla"):
                        data;
                    }
                }
            }
        };


        //var table = $('#example2').DataTable({
        //    'paging': true,
        //    'lengthChange': false,
        //    'searching': false,
        //    'ordering': false,
        //    'info': true,
        //    'autoWidth': false,
        //    'processing': true,
     
        //});

   
 
 
 
        //$('#btn-export').on('click', function () {
        //    $("#example2 td:contains('Deactive')").html("0");
        //    $("#example2 td:contains('Active')").html("1");

        //    $('<table>').append($(table.table().header()).clone()).append(table.$('tr').clone()).table2excel({
        //        exclude: ".excludeThisClass",
        //        name: "List1",
        //        filename: "BankMaster"
                
        //    });

        //    $(".ActiveStatus:contains('0')").html("Deactive");

        //});
    })

    


</script>

