﻿@model DMSBO.CreateIDNBO

@{
    ViewBag.Title = "CreateIDN";
}

<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>Create New Internal Batch Transfer
        
        <div class="pull-right">
          <a href="~/User/IDNList" class="btn btn-facebook">BACK</a>
        </div>

        </h1>
        <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Management</li>
      </ol>-->

      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">

            <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">Create IDN</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
                @using (Html.BeginForm("CreateIDN", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
              <div class="box-body">
                <div class="row">

                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label>Destination Depot</label>
                          @Html.DropDownListFor(modelItem => modelItem.DepotId, new SelectList(ViewBag.Depots, "DepotId", "DepotName", Model.DepotId),
                            "Select Depot", new { @class = "form-control select2" })
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label>IDN No</label>
                      <input type="text" name="IDNNo" class="form-control" value="" style="width: 100%;">
                    </div>
                  </div>
                 
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label>IDN Photo</label>
                      <input type="file" name="IDNPhoto" class="form-control" value="" style="width: 100%;">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                 
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
           
              </div>
                }

            </div>

            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
