﻿@model DMSBO.FilterTransaction

@{
  ViewBag.Title = "Dashboard";
}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Dashboard
    </h1>
    <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Management</li>
      </ol>-->

  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">Search Filter</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <!-- /.box-header -->

          <div class="box-body">
            <div class="row">

              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <label>Region</label>
                  @Html.DropDownListFor(modelItem => Model.RegionCode, new SelectList(ViewBag.Regions, "RegionCode", "RegionName", Model.RegionCode),
                            "Select Region", new { @class = "form-control select2" })
                  @* <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Select Region</option>
                                        <option>Select Value 1</option>
                                        <option>Select Value 2</option>
                                        <option>Select Value 3</option>
                                        <option>Select Value 4</option>
                                        <option>Select Value 5</option>
                                        <option>Select Value 6</option>
                                    </select>*@
                </div>
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <label>Depot</label>
                  @Html.DropDownListFor(modelItem => Model.DepotId, new SelectList(ViewBag.Depots, "DepotId", "DepotName", Model.DepotId),
                            "Select Depot", new { @class = "form-control select2" })
                  @*<select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Select Depot</option>
                                        <option>Select Value 1</option>
                                        <option>Select Value 2</option>
                                        <option>Select Value 3</option>
                                        <option>Select Value 4</option>
                                        <option>Select Value 5</option>
                                        <option>Select Value 6</option>
                                    </select>*@
                </div>
              </div>



            </div>



            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        @*  <div class="box-footer">
                            <button type="submit" class="btn btn-primary">SEARCH</button>
                            <button type="button" id="reset" class="btn btn-default">RESET</button>

                        </div>*@


        <div class="box">
          <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
          <!-- /.box-header -->
          <div class="box-body">


            <div class="col-lg-12 pi-chart-wrpr" style="padding: 0">


              <div class="col-lg-12">

                <div id="chart_dsr" style="height: 300px;"></div>



              </div>




              <!-- /.box -->
            </div>



          </div>
        </div>

      </div>



      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>


<script type="text/javascript">

    
</script>

<script type="text/javascript">
  google.load("visualization", "1", { packages: ["corechart"] });
</script>

<script type="text/javascript">





  $(function () {

    var obj = {};
    obj.rcode = $(".RegionCode").val();
    obj.dpid = $(".DepotId").val();
    JSON.stringify(obj);

    $.ajax({
      type: 'POST',
      dataType: 'json',
      contentType: 'application/json',
      url: '@Url.Action("DsrReportjson")',
                data: JSON.stringify(obj),
                success: function (chartsdata) {

                  var data = new google.visualization.DataTable();

                  data.addColumn('string', 'Month');
                  data.addColumn('number', 'Total Sale');

                  for (var i = 0; i < chartsdata.length; i++) {
                    data.addRow([chartsdata[i].Name, chartsdata[i].Value]);
                  }

                  // Instantiate and draw our chart, passing in some options    
                  var chart = new google.visualization.ColumnChart(document.getElementById('chart_dsr'));

                  chart.draw(data,
                    {
                      title: "Monthly DSR",

                      hAxis: {
                        title: 'Month',

                      },
                      vAxis: {
                        title: 'Total Amount'
                      }
                    });
                },
                error: function () {
                  alert("Error loading data! Please try again.");
                }
            });
        })


            $(document).ready(function () {
              $("#RegionCode").change(function () {

                var obj = {};
                obj.rcode = $("#RegionCode").val();
                obj.dpid = $("#DepotId").val(); JSON.stringify(obj);

                $.ajax({
                  type: 'POST',
                  dataType: 'json',
                  contentType: 'application/json',
                  url: '@Url.Action("DsrReportjson")',
                data: JSON.stringify(obj),
                success: function (chartsdata) {

                  var data = new google.visualization.DataTable();

                  data.addColumn('string', 'Month');
                  data.addColumn('number', 'Total Sale');

                  for (var i = 0; i < chartsdata.length; i++) {
                    data.addRow([chartsdata[i].Name, chartsdata[i].Value]);
                  }

                  // Instantiate and draw our chart, passing in some options    
                  var chart = new google.visualization.ColumnChart(document.getElementById('chart_dsr'));

                  chart.draw(data,
                    {
                      title: "Monthly DSR",

                      hAxis: {
                        title: 'Month',

                      },
                      vAxis: {
                        title: 'Total Amount'
                      }
                    });
                },
                error: function () {
                  alert("Error loading data! Please try again.");
                }
            });
        })
    });




          $(document).ready(function () {
            $("#DepotId").change(function () {

              var obj = {};
              obj.rcode = $("#RegionCode").val();
              obj.dpid = $("#DepotId").val(); JSON.stringify(obj);

              $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("DsrReportjson")',
                data: JSON.stringify(obj),
                success: function (chartsdata) {

                  var data = new google.visualization.DataTable();

                  data.addColumn('string', 'Month');
                  data.addColumn('number', 'Total Sale');

                  for (var i = 0; i < chartsdata.length; i++) {
                    data.addRow([chartsdata[i].Name, chartsdata[i].Value]);
                  }

                  // Instantiate and draw our chart, passing in some options    
                  var chart = new google.visualization.ColumnChart(document.getElementById('chart_dsr'));

                  chart.draw(data,
                    {
                      title: "Monthly DSR",

                      hAxis: {
                        title: 'Month',

                      },
                      vAxis: {
                        title: 'Total Amount'
                      }
                    });
                },
                error: function () {
                  alert("Error loading data! Please try again.");
                }
            });
        })
    });
</script>
