﻿@model  DMS.Models.DepotModel
@{
    ViewBag.Title = "DepotList";
}

 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Depot Management
        
        
          <div class="pull-right">

               @using (Html.BeginForm("ExportDepotData", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
                <button type="button" class="btn btn-facebook" data-toggle="modal" data-target="#importdepot" data-title="Reject" >IMPORT</button>
                <button type="submit" value="Export" name="ActionPost" class="btn btn-facebook"><i class="fa fa-file-excel-o" aria-hidden="true"></i> EXPORT</button>
        
             <!-- Modal HTML -->
                                                <div id="importdepot" class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title">Import Depot Data</h4>
                                                            </div>
                                                            
                                                                <div class="modal-body">

                                                                 <div class="col-md-12">
                                                                    <div class="form-group" >
                                                                        <label for="message-text" class="control-label LableFont">Select File:</label>
                                                                        <input type="file" class="form-control" name="DepotFile" />
                                                                         </div>
                                                                        </div>


                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                                                                    <button name="ActionPost" value="Upload" type="submit" class="btn btn-primary">Upload</button>
                                                                 </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal HTML -->

        
        }
</div>
      </h1>
      <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Management</li>
      </ol>-->
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Search Filter</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
              @using(Html.BeginForm())
              {
        <div class="box-body">
          <div class="row">
          	
           
            
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Depot Name</label>
                <input type="text" name="DepotName" id="DepotName" value="@Model.DepotName " class="form-control" style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Status</label>

                    @Html.DropDownListFor(modelItem => Model.Active, new SelectList(ViewBag.ItemStatus, "Id", "Name", Model.Active),
                    "Select Status",new { @class = "form-control select2" })
                @*<select name="Active" class="form-control select2" style="width: 100%;">
                  <option value="">Select Status</option>
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                </select>*@
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <div class="box-footer">
        	<button type="submit" class="btn btn-primary">SEARCH</button>
            <button type="button" id="reset" class="btn btn-default">RESET</button>
        </div>
              }


      </div>
          
          <div class="box">
            <!--<div class="box-header">
              <h3 class="box-title">Depot Details</h3>
            </div>-->
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Region</th>
                    <th>Region Code</th>
                  <th>Depot Title</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>

                  @foreach (var item in Model.depotList)
                  {
                <tr>
                  <td>@item.Region</td>
                  <td>@item.RegionCode</td>
                    <td>@item.DepotName</td>
                  <td>
                      @if(item.Active==0)
                      {
                  	<p>Deactive</p>
                      }
                      else
                      {
                          <p>Active</p>
                 
                      } </td>
                </tr>
                  }
                </tbody>
              </table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
<script>

    $("#reset").on("click", function () {
        
        var url = '@Url.Action("DepotList", "User")';
        window.location.href = url;
    });


$(document).ready(function(){
    var table = $('#example2').DataTable({
        'paging': true,
        'lengthChange': false,
        'searching': false,
        'ordering': false,
        'info': true,
        'autoWidth': false,
'processing': true
    });
  
    $('#btn-export').on('click', function () {
        
        $('<table>').append($(table.table().header()).clone()).append(table.$('tr').clone()).table2excel({
            exclude: ".excludeThisClass",
            name: "List1",
            filename: "DepotMaster"
        });
    });
})
    
</script>
