﻿
@model DMSBO.DSREditBO
@{
    ViewBag.Title = "DSRDetails";
}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Daily Sales Register
          <div class="pull-right">
            <a href="~/User/DSRList" type="button" class="btn btn-facebook"><i class="fa fa-chevron-left" aria-hidden="true"></i> BACK</a>
          </div>
      </h1>
      <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Management</li>
      </ol>-->
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box box-default">
        @using(Html.BeginForm())
        {
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
          	
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Depot Name</label>
                <input type="text" name="DepotName" class="form-control" value="@Model.DepotName" disabled style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>DSR NO</label>
                      <input type="hidden" name="DSRId" class="form-control" value="@Model.DSRId"  style="width: 100%;">
                <input type="text" class="form-control" name="DSRNo" value="@Model.DSRNo" disabled style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>DSR Date</label>

                <input type="text" class="form-control" name="DSRDate" value="@Model.DSRDate.Value.ToShortDateString()" disabled style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>DSR Sub Total</label>

                <input type="text" class="form-control" readonly="true" name="DSRTotal" value="@Model.DSRTotal" style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>DSR Discount</label>
				
                <input type="text" class="form-control" readonly="true"  name="DSRDiscount" value="@Model.DSRDiscount" style="width: 100%;">
              </div>
            </div>
            
             <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>DSR Total Sale</label>

                <input type="text" class="form-control" readonly="true"  name="DSRTotalSale" value="@Model.DSRTotalSale" style="width: 100%;">
              </div>
            </div>


                <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>PCS No.</label>

                <input type="text" class="form-control" readonly="true"  name="DSRTotalSale" value="@Model.PCSNo" style="width: 100%;">
              </div>
            </div>

                <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>PCS Amount</label>

                <input type="text" class="form-control" readonly="true"  name="DSRTotalSale" value="@Model.PCSAmount" style="width: 100%;">
              </div>
            </div>

                <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>PCV No.</label>

                <input type="text" class="form-control" readonly="true"  name="DSRTotalSale" value="@Model.PCVNo" style="width: 100%;">
              </div>
            </div>
            

              @foreach(var item in Model.Images)
              {
             <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>@item.ImageKey</label>
				<br />
                <a href="@item.DSRImage" target="_blank">
                          <img src="@item.DSRImage" width="100"></a>
              </div>
            </div>
              }


          

             <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>DSR Status</label>

                <input type="text" class="form-control" value="@Model.Status" disabled style="width: 100%;">
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        
        <div class="box-footer">
           
                </div>
        }
      </div>
          
    <div class="box">
            <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Depot</th>
                  <th>Order No.</th>
                  <th>Order Date</th>
                  <th>Order Amount</th>
                  <th>Status</th>
                  <th>Details</th>
                </tr>
                </thead>
                <tbody>
               
                  @foreach(var item in Model.orderManageModal)
                  {
                      var Oid = DMSBO.EncryptOperation.Encode(item.OrderId.ToString());
                <tr>
                  <td>@item.DepoName</td>
                  <td>@item.OrderNo</td>
                  <td>@item.OrderDate.ToShortDateString()</td>
                  <td>@item.OrderAmount</td>
                  <td><span class="label label-info">@item.Status</span></td>
                  <td><a  href="~/User/OrderDetails?Oid=@Oid"><i class="fa fa-file"></i></a></td>
                </tr>
                  }
             
                </tbody>
              </table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->