﻿@using PagedList;
@using PagedList.Mvc;

@model DMS.Models.DSRPCVReportModel
@{
    ViewBag.Title = "DSRPCVReport";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>PCV Report
            <div class="pull-right">

                @using (Html.BeginForm("ExportDSRPCVReportData", "User", FormMethod.Post))
                {
                    if (Model.FromDate.HasValue && Model.ToDate.HasValue)
                    {
                    <button type="submit" value="Export" name="ActionPost" class="btn btn-facebook"><i class="fa fa-file-excel-o" aria-hidden="true"></i>EXPORT</button>
                    }

                }

            </div>

        </h1>


    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Filter</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->

                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="row">


                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Region</label>
                                        @Html.DropDownListFor(modelItem => Model.RegionCode, new SelectList(ViewBag.Regions, "RegionCode", "RegionName", Model.RegionCode),
                            "Select Region", new { @class = "form-control select2" })
                                        @* <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Select Region</option>
                                        <option>Select Value 1</option>
                                        <option>Select Value 2</option>
                                        <option>Select Value 3</option>
                                        <option>Select Value 4</option>
                                        <option>Select Value 5</option>
                                        <option>Select Value 6</option>
                                    </select>*@
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Depot</label>
                                        @Html.DropDownListFor(modelItem => Model.DepotId, new SelectList(ViewBag.Depots, "DepotId", "DepotName", Model.DepotId),
                            "Select Depot", new { @class = "form-control select2" })
                                        @*<select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Select Depot</option>
                        <option>Select Value 1</option>
                        <option>Select Value 2</option>
                        <option>Select Value 3</option>
                        <option>Select Value 4</option>
                        <option>Select Value 5</option>
                        <option>Select Value 6</option>
                      </select>*@
                                    </div>
                                </div>


                                         <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>DSR No.</label>

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                           
                                                <input type="text" class="form-control pull-right" id="DSRNo" name="DSRNo" value="@Model.DSRNo" >
                                        
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>



                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>From Date</label>

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @if (Model.FromDate.HasValue)
                                            {
                                                <input type="text" class="form-control pull-right" id="FromDate" value="@Model.FromDate.Value.ToShortDateString()" name="FromDate" >
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control pull-right" id="FromDate" value="@Model.FromDate" name="FromDate" >
                                                
                                            }
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>To Date</label>

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @if (Model.ToDate.HasValue)
                                            {
                                                <input type="text" class="form-control pull-right" id="ToDate" name="ToDate" value="@Model.ToDate.Value.ToShortDateString()" >
                                        
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control pull-right" id="ToDate" name="ToDate" value="@Model.ToDate" >
                                        
                                            }
                                            <input type="hidden" class="form-control pull-right" id="pages" name="page" value="1">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>


                                   <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        @* <select class="form-control select2" name="Status" style="width: 100%;">
                                            <option value="">Select Status</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Confirm">Confirm</option>
                                            <option value="Rejected">Rejected</option>
                                        </select>*@

                                        @Html.DropDownListFor(modelItem => Model.Status, new SelectList(ViewBag.StatusStages, "Name", "Name", Model.Status),
                            "Select Status", new { @class = "form-control select2" })
                                    </div>
                                </div>

                                @*                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        
                                         <select class="form-control select2" name="Status" style="width: 100%;">
                                            <option value="">Select Status</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Confirm">Confirm</option>
                                            <option value="Rejected">Rejected</option>
                                        </select>

                                        @Html.DropDownListFor(modelItem => Model.Status, new SelectList(ViewBag.StatusStages, "Name", "Name", Model.Status),
                            "Select Status", new { @class = "form-control select2" })
                                    </div>
                                </div>*@
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <div class="box-footer">
                            <button type="submit" name="search" value="search" class="btn btn-primary">SEARCH</button>
                            <button type="button" id="reset" name="reset" value="reset" class="btn btn-default">RESET</button>
                        </div>
                    }
                </div>

                <div class="box">
                    <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
                    <!-- /.box-header -->

                    @if (Model.FromDate.HasValue && Model.ToDate.HasValue)
                    {
                        <div class="box-body">
                            <div class="table-responsive">

                                <table id="example3" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>No of PCV</th>
                                            <th>DSR Total Amount</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.NoofProducts</td>
                                            <td>@Model.TotalAmount</td>
                                           </tr>
                                    </tbody>
                                </table>

                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                             <th> DSR No</th>
        <th> DSR Date </th>
        <th> Region Code </th>
        <th>  Depot Name </th>
        <th> Depot Id </th>  
        <th> DSRNo </th>
        <th> PCV No. </th>
        <th> PCV Amount </th>
        <th> DSR Status </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.dSRListModel.Count > 0)
                                        {
                                            foreach (var item in Model.dSRListModel)
                                            {
                                
                                            <tr>
                                                <td>@item.DSRNo</td>
                                                <td>@item.DSRDate.ToShortDateString()</td>
                                                <td>@item.RegionCode</td>
                                                <td>@item.DepotName</td>
                                                <td>@item.DepotId</td>
                                                <td>@item.DSRNo</td>
                                                <td>@item.PCVNo</td>
                                                <td>@item.PCVAmount</td>
                                                <td>@item.DSRStatus</td>
                                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="12">No data present
                                                </td>
                                            </tr> 
                                        }

                                    </tbody>
                                </table>
                                <div id='Paging' style="text-align: center">
                                    Page @(Model.dSRListModel.PageCount < Model.dSRListModel.PageNumber ? 0 : Model.dSRListModel.PageNumber)
                                    of @Model.dSRListModel.PageCount

                                    @Html.PagedListPager(Model.dSRListModel, page => Url.Action("DSRPCVReport", new
                           {
                               page,
                               DepotId = Model.DepotId,
                               FromDate = Model.FromDate,
                               Status = Model.Status,
                               ToDate = Model.ToDate,
                               RegionCode = Model.RegionCode
                           }))


                                </div>
                            </div>
                        </div>
                    }
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    //Date picker
    $('#FromDate').datepicker({
        autoclose: true
    });
    $('#ToDate').datepicker({
        autoclose: true
    });


    $("#reset").on("click", function () {
        $('#DepotId').val($("#DepotId option:first").val());
        var a = $('#FromDate').attr("value");
        var b = $('#ToDate').attr("value");
        a = "";
        b = "";
        var url = '@Url.Action("DSRPCVReport", "User")';
        window.location.href = url;
    });

</script>