﻿@model DMSBO.BankTransactionBO
@{
    ViewBag.Title = "EditTransaction";
}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Bank Transactions Edit
        
        
          <div class="pull-right">
              <a    href="~/User/BankTransactionList" class="btn btn-facebook" type="button" > <i class="fa fa-chevron-left" aria-hidden="true"></i>BACK</a>
              </div>
      </h1>
      <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Management</li>
      </ol>-->
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box box-default">
        
        <!-- /.box-header -->
              @using (Html.BeginForm())
              {
        <div class="box-body">
          <div class="row">
          	
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Depot Name</label>

                <input type="text" class="form-control" value="@Model.DepotName" readonly="true" style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>DSR</label>
                   <input type="hidden" name="PKTransactionId" value="@Model.PKTransactionId" />
                <input type="text" class="form-control" value="@Model.DSRNo" readonly="true" style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Transaction Date</label>

                <input type="text" class="form-control" value="@Model.TransactionDate.Value.ToShortDateString()" readonly="true" style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Transaction Amount</label>

                <input type="text" class="form-control" name="TransactionAmount" value="@Model.TransactionAmount" style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Receipt</label>
				<br />
                <a href="@Model.TransactionImage" target="_blank"><img src="@Model.TransactionImage" width="100"></a>
              </div>
            </div>
            
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        
        <div class="box-footer">
            @if(Model.StatusGroup.ToLower()=="rejected")
            {
        	<button type="submit" name="Update" value="Update" class="btn btn-primary">Update</button>
            <button type="submit" name="Update" value="UpdateApprove" class="btn btn-primary">Update & Approve</button>
            }
        </div>
              }
        
        
      </div>
          
          
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
