﻿@model DMSBO.IDNAddProductBO

@{
    ViewBag.Title = "AddProductToIDN";
}


<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>Internal Batch Transfer Details
        
        <div class="pull-right">
                                                                                                          
              <button    onclick="window.history.go(-1); return false;" class="btn btn-facebook" type="button" value="Back" > <i class="fa fa-chevron-left" aria-hidden="true"></i>BACK</button>
              
        </div>

        </h1>
        <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Management</li>
      </ol>-->

      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">

            <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">Details of IBT</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">

                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label>Destination Depot</label>
                       <input type="text" name="DepoName" class="form-control" readonly="true" value="@Model.DepotName" style="width: 100%;">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label>IBT No</label>
                      <input type="text" class="form-control" readonly="true" value="@Model.IDNNo" style="width: 100%;">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label>IBT Total Amount</label>
                      <input type="text" class="form-control" value="@Model.TotalIDNAmount" disabled="" style="width: 100%;">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label>IBT Photo</label>
                    <br />
                <a href="@Model.Path" target="_blank">
                          <img src="@Model.Path" width="100"></a>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <hr />

            
                  <!--<div class="col-md-3 col-sm-6">
                    <div class="form-group">
                      <label>Tax Amount</label>
                      <input type="text" class="form-control" style="width: 100%;">
                    </div>
                  </div>-->

                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              @*<div class="box-footer">
                <button type="button" class="btn btn-primary">ADD</button>
                <button type="button" class="btn btn-default">RESET</button>
              </div>*@
            </div>

            <div class="box">
              <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
              <!-- /.box-header -->
              <div class="box-body">
                <div class="table-responsive">


                  <table id="example2" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Depot</th>
                        <th>Simple Code</th>
                        <th>Item Name</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                  @foreach(var item in Model.productIDNBO)
                  {
                        <tr>
                        <td>@item.DepotName</td>
                        <td>@item.ProductCode</td>
                        <td>@item.ProductName</td>
                        <td>@item.Rate</td>
                        <td>@item.Quantity</td>
                        <td>@item.Total</td>
                      </tr>
                  } 

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="box-footer">
                
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

