﻿@using PagedList;
@using PagedList.Mvc;

@model DMS.Models.IDNModel
@{
    ViewBag.Title = "IBTList";
}
<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>Internal Batch Transfer
        
        <div class="pull-right">
          @if (User.IsInRole("HOCLK") || User.IsInRole("DOCLK")||User.IsInRole("SPADM"))
          {
            <a href="~/User/CreateIDN" type="button" class="btn btn-facebook">CREATE NEW IBT</a>       
          }
        </div>

        </h1>
      
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">

         <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Filter</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->

                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="row">

                                
                              @*  <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Source Depot</label>
                                        @Html.DropDownListFor(modelItem => Model.SourceDepotId, new SelectList(ViewBag.Depots, "DepotId", "DepotName", Model.SourceDepotId),
                            "Select Depot", new { @class = "form-control select2" })
                                     
                                    </div>  
                                </div>*@

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Destination Depot</label>
                                        @Html.DropDownListFor(modelItem => Model.DestinationDepotId, new SelectList(ViewBag.Depots, "DepotId", "DepotName", Model.DestinationDepotId),
                            "Select Depot", new { @class = "form-control select2" })
                                    
                                    </div>  
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>From Date</label>

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @if(Model.FromDate.HasValue)
                                            {
                                            <input type="text" class="form-control pull-right" id="FromDate" value="@Model.FromDate.Value.ToShortDateString()" name="FromDate" >
                                            }
                                            else
                                            {
                                            <input type="text" class="form-control pull-right" id="FromDate" value="@Model.FromDate" name="FromDate" >
                                                
                                            }

                                             <input type="hidden" class="form-control pull-right" id="pages" name="page" value="1" >
                
                                                </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>To Date</label>

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @if(Model.ToDate.HasValue)
                                            {
                                            <input type="text" class="form-control pull-right" id="ToDate" name="ToDate" value="@Model.ToDate.Value.ToShortDateString()" >
                                        
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control pull-right" id="ToDate" name="ToDate" value="@Model.ToDate" >
                                        
                                            }
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                       

                           @Html.DropDownListFor(modelItem => Model.Status, new SelectList(ViewBag.StatusStages, "Name", "Name", Model.Status),
                            "Select Status", new { @class = "form-control select2" })
                                    </div>
                                </div>
                                <!-- /.col -->
                             </div>
                            <!-- /.row -->
                        </div>
                        <div class="box-footer">
                            <button type="submit" name="search" value="search"  class="btn btn-primary">SEARCH</button>
                            <button type="button" id="reset" name="reset" value="reset" class="btn btn-default">RESET</button>
                        </div>
                    }
                </div>

            <div class="box">
              <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
              <!-- /.box-header -->
              <div class="box-body">
                <div class="table-responsive">
                  <table id="example2" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>IBT No.</th>
                        <th>IBT Date</th>
                        <th>IBT Total Amount</th>
                        <th>Source Depot</th>
                        <th>Destination Depot</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Details</th>
                  @if (User.IsInRole("HOSPR") || User.IsInRole("DOSPR"))
                          {
                          <th>Action</th>
                          }
                      </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.iDNBO)
                        {
                      <tr>
                        <td>@item.IDNNo </td>
                        <td>@item.IDNDate.ToShortDateString()</td>
                        <td>@item.IDNTotalAmount</td>
                        <td>@item.SourceDepot</td>
                        <td>@item.DestinationDepot</td>
                        <td><a href="@item.Path" target="_blank">
                                                View</a></td>
                        <td> @if (item.StatusGroup.ToLower() == "pending" || item.StatusGroup.ToLower() == "edited")
                                                {
                                                    <span class="label label-warning">@item.Status</span>
                                                }
                                                @if (item.StatusGroup.ToLower() == "approved" || item.StatusGroup.ToLower() == "confirm" || item.StatusGroup.ToLower() == "completed")
                                                {
                                                    <span class="label label-success">@item.Status</span>
                                                }
                                               
                              @if (item.StatusGroup.ToLower() == "received")
                                                {
                                                    <span class="label label-info">@item.Status</span>
                                                }
                                               
                                                @if (item.StatusGroup.ToLower() == "rejected")
                                                {
                                                    <span class="label label-danger">@item.Status</span>
                                                }</td>
                          
                          @{
                            var val = DMSBO.EncryptOperation.Encode(item.IDNId.ToString()); 
                          }
                        <td><a href="~/User/IDNDetails?Key=@val"><i class="fa fa-file"></i></a>

                            
                                                @if (item.StatusGroup.ToLower() == "pending" || item.StatusGroup.ToLower() == "edited" || item.StatusGroup.ToLower() == "rejected")
                                                {
                                                    if (User.IsInRole("HOCLK") || User.IsInRole("DOCLK"))
                                                    {
                                                      <a href="~/User/EditIDN?key=@val" style="float:right"><i class="fa fa-edit"></i></a>
                                                    }
                                                }

                        </td>
                                               @if (User.IsInRole("HOSPR") || User.IsInRole("DOSPR")) 
                                                    {
                               
                          <td>

                               
                                                @if (item.StatusGroup.ToLower() == "edited" || item.StatusGroup.ToLower() == "rejected")
                                                {  
                                                    <form method="post" action="~/User/ApproveIDN">
                                                        <input type="hidden" value="@item.IDNId" name="Id" />
                                                        <a title="Reject" data-toggle="modal" data-target="#@item.IDNId" data-title="Reject"  class="btn btn-danger">REJECT</a>
                                                        <button title="Approve" type="submit" data-toggle="confirmation" data-placement="top" class="btn btn-success">APPROVE</button>
                                                    </form>
                                                    <!-- Modal HTML -->
                                                    <div id="@item.IDNId" class="modal fade">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title">Reject IBTNo : @item.IDNNo</h4>
                                                                </div>
                                                                <form method="post" action="~/User/RejectIDN">

                                                                    <div class="modal-body">

                                                                        <div class="form-group" style="width: 100%">
                                                                            <label for="message-text" class="control-label">Message:</label>
                                                                            <input type="hidden" value="@item.IDNId" name="Id" />
                                                                            <textarea class="form-control " style="width: 100%" name="Comment" id="message-text"></textarea>
                                                                        </div>


                                                                    </div>


                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                                        <button type="submit" class="btn btn-danger">Reject</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Modal HTML -->
                                              
                                                }
                               
                                      </td>
                           }
                                    
                        </tr>
                        }

                    </tbody>
                  </table>
                                  <div id='Paging' style="text-align:center">  

    
        Page @(Model.iDNBO.PageCount <Model.iDNBO.PageNumber ? 0 :Model.iDNBO.PageNumber)  
        of @Model.iDNBO.PageCount  
  
        @Html.PagedListPager(Model.iDNBO, page => Url.Action("IDNList", new{ page, SourceDepotId = Model.SourceDepotId,
       DestinationDepotId = Model.DestinationDepotId,
       FromDate = Model.FromDate,
      Status = Model.Status,
      ToDate = Model.ToDate
 }))  
    </div>  
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
<script>
    //Date picker
    $('#FromDate').datepicker({
        autoclose: true
    });
    $('#ToDate').datepicker({
        autoclose: true
    });


    $("#reset").on("click", function () {
        $('#DepotId').val($("#DepotId option:first").val());
        var a = $('#FromDate').attr("value") ;
        var b = $('#ToDate').attr("value");
        a = "";
        b = "";
        var url = '@Url.Action("IDNList", "User")';
        window.location.href = url;
    });

</script>