﻿@using PagedList;
@using PagedList.Mvc;

@model DMS.Models.ProductReportModel

@{
    ViewBag.Title = "ProductStockReport";
}




<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Product Stock Report
            <div class="pull-right">

                @using (Html.BeginForm("ProductStockReportExport", "User", FormMethod.Post))
                {
                   
                    <button type="submit" value="Export" name="ActionPost" class="btn btn-facebook"><i class="fa fa-file-excel-o" aria-hidden="true"></i>EXPORT</button>
                   
                }

            </div>

        </h1>


    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Filter</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->

                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="row">


                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Region</label>
                                        @Html.DropDownListFor(modelItem => Model.RegionCode, new SelectList(ViewBag.Regions, "RegionCode", "RegionName", Model.RegionCode),
                            "Select Region", new { @class = "form-control select2" })
                                        @* <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Select Region</option>
                                        <option>Select Value 1</option>
                                        <option>Select Value 2</option>
                                        <option>Select Value 3</option>
                                        <option>Select Value 4</option>
                                        <option>Select Value 5</option>
                                        <option>Select Value 6</option>
                                    </select>*@
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Depot</label>
                                        @Html.DropDownListFor(modelItem => Model.DepotId, new SelectList(ViewBag.Depots, "DepotId", "DepotName", Model.DepotId),
                            "Select Depot", new { @class = "form-control select2" })
                                        @*<select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Select Depot</option>
                        <option>Select Value 1</option>
                        <option>Select Value 2</option>
                        <option>Select Value 3</option>
                        <option>Select Value 4</option>
                        <option>Select Value 5</option>
                        <option>Select Value 6</option>
                      </select>*@
                                    </div>
                                </div>

                                   <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label>Product Name / Code</label>
                                    <input type="text" id="ProductCodeOrName" name="ProductCodeOrName" value="@Model.ProductCodeOrName" class="form-control" style="width: 100%;">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label>Product Group</label>

                                     @Html.DropDownListFor(modelItem => Model.ProductGroup, new SelectList(ViewBag.ProductGroupList, "ProductGroup", "ProductGroup", Model.ProductGroup),
                    "Select Product Group",new { @class = "form-control select2" })
                             @*       <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Select Product Group</option>
                                        <option>Select Value 1</option>
                                        <option>Select Value 2</option>
                                        <option>Select Value 3</option>
                                        <option>Select Value 4</option>
                                        <option>Select Value 5</option>
                                        <option>Select Value 6</option>
                                    </select>*@
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label>Status</label>
                                                        @Html.DropDownListFor(modelItem => Model.Active, new SelectList(ViewBag.ItemStatus, "Id", "Name", Model.Active),
                    "Select Status",new { @class = "form-control select2" })
                                   @* <select name="Active" class="form-control select2" style="width: 100%;">
                                        <option  selected="selected">Select Status</option>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>*@
                                </div>
                            </div>

                                  
                            </div>
                            <!-- /.row -->
                        </div>
                        <div class="box-footer">
                            <button type="submit" name="search" value="search" class="btn btn-primary">SEARCH</button>
                            <button type="button" id="reset" name="reset" value="reset" class="btn btn-default">RESET</button>
                        </div>
                    }
                </div>

                <div class="box">
                    <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
                    <!-- /.box-header -->

                        <div class="box-body">
                            <div class="table-responsive">

                         
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                             
        <th> Region Code </th>
        <th>  Depot Name </th>
        <th> Depot Id </th>  
        <th> Item Code </th>
        <th> Item Description </th>
        <th> Unit price </th>
        <th> Available Qty </th>              
        <th> Total Value </th>
        <th> Record Level </th>
        <th> Minimum Quantity </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.dSRListModel.Count > 0)
                                        {
                                            foreach (var item in Model.dSRListModel)
                                            {
                                
                                            <tr>
                                                <td>@item.RegionCode</td>
                                                <td>@item.DepotName</td>
                                                <td>@item.DepotId</td>
                                                <td>@item.Itemcode</td>
                                                <td>@item.itemdescription</td>
                                                <td>@item.UnitPrice</td>
                                                <td>@item.AvailableQty</td>
                                                <td>@item.TotalValue</td>
                                                <td>@item.ReorderLevel</td>
                                                <td>@item.MinimumQty</td>
                                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="12">No data present
                                                </td>
                                            </tr> 
                                        }

                                    </tbody>
                                </table>
                                <div id='Paging' style="text-align: center">
                                    Page @(Model.dSRListModel.PageCount < Model.dSRListModel.PageNumber ? 0 : Model.dSRListModel.PageNumber)
                                    of @Model.dSRListModel.PageCount

                           @Html.PagedListPager(Model.dSRListModel, page => Url.Action("ProductStockReport", new
                           {
                           
                               page=page,DepotId = Model.DepotId,Active=Model.Active, ProductCodeOrName=Model.ProductCodeOrName,ProductGroup=Model.ProductGroup,RegionCode = Model.RegionCode
                           
                           }))


                                </div>
                            </div>
                        </div>
                    
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    //Date picker
    $('#FromDate').datepicker({
        autoclose: true
    });
    $('#ToDate').datepicker({
        autoclose: true
    });


    $("#reset").on("click", function () {
        $('#DepotId').val($("#DepotId option:first").val());
        var a = $('#FromDate').attr("value");
        var b = $('#ToDate').attr("value");
        a = "";
        b = "";
        var url = '@Url.Action("ProductStockReport", "User")';
        window.location.href = url;
    });

</script>


<script>


    $(document).ready(function () {


        $("#ProductCodeOrName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/User/productcnjson",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.ProductName, value: item.ProductName };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });



    });
             </script>
