﻿@using PagedList;
@using PagedList.Mvc;
@model DMS.Models.PurchaseOrderReportModel

@{
    ViewBag.Title = "PurchaseOrderReport";
}


 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
            @using (Html.BeginForm("PurchaseOrderReportExport", "User", FormMethod.Post))
                {
                    <p>Purchase Order Report</p>
       
                    if (Model.FromDate.HasValue && Model.ToDate.HasValue)
                    {
                    <button type="submit" value="Export" name="ActionPost" class="btn btn-facebook pull-right"><i class="fa fa-file-excel-o" aria-hidden="true"></i>EXPORT</button>
                    }

                }
      </h1>
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Search Filter</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
               @using (Html.BeginForm())
            {
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
          	
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Order No.</label>
                <input type="text" class="form-control" name="OrderNo" value="@Model.OrderNo" style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>From Date</label>

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" value="@Model.FromDate" name="FromDate" id="FromDate">
                </div>
                <!-- /.input group -->
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>To Date</label>

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" name="ToDate" value="@Model.ToDate" id="ToDate">
                </div>
                <!-- /.input group -->
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Depot</label>

                    @Html.DropDownListFor(modelItem => Model.DepotId, new SelectList(ViewBag.Depots, "DepotId", "DepotName", Model.DepotId),
                    "Select Depot",new { @class = "form-control select2" })

               @* <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Select Depot</option>
                  <option>Select Value 1</option>
                  <option>Select Value 2</option>
                  <option>Select Value 3</option>
                  <option>Select Value 4</option>
                  <option>Select Value 5</option>
                  <option>Select Value 6</option>
                </select>*@
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Status</label>

                   @Html.DropDownListFor(modelItem => Model.Status, new SelectList(ViewBag.StatusStages, "Name", "Name", Model.Status),
                            "Select Status", new { @class = "form-control select2" })      
               @* <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Select Status</option>
                  <option>Pending</option>
                  <option>Approved</option>
                  <option>Delivered</option>
                </select>*@
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <div class="box-footer">
        	<button type="submit" class="btn btn-primary">SEARCH</button>
            <button type="button" id="reset" class="btn btn-default">RESET</button>
        </div>
              }
      </div>
          
          <div class="box">
            <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
            <!-- /.box-header -->
              @if(Model.FromDate!=null && Model.ToDate!=null)
              {
            <div class="box-body">
              <div class="table-responsive">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Depot</th> 
                  <th>Depot Name</th>
                  <th>Purchase Order No.</th>
                  <th>PO Date</th>
                  <th>Item Code/th>
                   <th>Item Discription</th>
                   <th>Order Quantity</th>
                   <th>Delay in Days</th>
                   <th>IBT No</th>
                   <th>IBT Date</th>
                   <th>Quantity Send</th>
                   <th>Balance Quantity</th>
                   <th>Branch Name</th>
                   <th>Complete In Days</th>
                  <th>Status</th>
 
                </tr>
                </thead>
                <tbody>
               
                  @foreach(var item in Model.orderManageModal)
                  {
                     
                <tr>
                  <td>@item.DepotId</td>
                  <td>@item.DepotName</td>
                  <td>@item.PONo</td>
                  <td>@item.PODate.ToShortDateString()</td>
                  <td>@item.ItemCode</td>
                 <td>@item.ItemDescription</td>
                    <td>@item.OrderQty</td>
 
                    <td>@item.Delayindays</td>
                    <td>@item.IBTNo</td>      
                 
                    <td>@item.IBTDate.ToShortDateString()</td>
                    <td>@item.QtySent</td>
 
                    <td>@item.BalanceQty</td>
                    <td>@item.BranchName</td>
                    <td>@item.POCompletedInDays</td>      
                    
                    
                                  <td>
                      @if(item.Status.ToLower()=="pending")
                      {
                      <span class="label label-info">@item.Status</span>
                      }
                      else if (item.Status.ToLower() == "confirm" || item.Status.ToLower() == "completed")
                      {
                           <span class="label label-success">@item.Status</span>
                      }
                      else if (item.Status.ToLower() == "processing")
                      {
                           <span class="label label-warning">@item.Status</span>
                      }

                  </td>
                
                </tr>
                  }
             
                </tbody>
              </table>
                  <div id='Paging' style="text-align: center">
                            
                   Page @(Model.orderManageModal.PageCount < Model.orderManageModal.PageNumber ? 0 : Model.orderManageModal.PageNumber)
                                of @Model.orderManageModal.PageCount

                                @Html.PagedListPager(Model.orderManageModal, page => Url.Action("PurchaseOrderReport", new
                           {
                               page,
                               DepotId = Model.DepotId,
                               FromDate = Model.FromDate,
                               Status = Model.Status,
                               ToDate = Model.ToDate,
                               OrderNo=Model.OrderNo
                           }))
             </div>
                       </div>
            </div>
              }
              <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

<script>
 //Date picker
    $('#FromDate').datepicker({
      autoclose: true
    });
	$('#ToDate').datepicker({
      autoclose: true
    });
	</script>

<script>

    $("#reset").on("click", function () {

        var url = '@Url.Action("PurchaseOrderReport", "User")';
        window.location.href = url;
    });

    $(document).ready(function () {
        var table = $('#example2').DataTable({
            'paging': false,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': true,
            'autoWidth': false,
            'processing': true,
            dom: 'Brtip',
            'buttons': [
  
       {
           extend: 'excel',
           footer: false,
           exportOptions: {
               columns: [1,2]
           }
       }         
            ]  
        } );



       

        $('#btn-export').on('click', function () {

            $('<table>').append($(table.table().header()).clone()).append(table.$('tr').clone()).table2excel({
                exclude: ".excludeThisClass",
                name: "List1",
                filename: "OrderMaster"
            });
        });
    })

</script>
