﻿@using PagedList;
@using PagedList.Mvc;

@model DMS.Models.OrderModel

@{
    ViewBag.Title = "Purchase Order List";
}

 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Purchase Order Management      
      </h1>
     
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Search Filter</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
               @using (Html.BeginForm())
            {
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
          	
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Order No.</label>
                <input type="text" class="form-control" name="OrderNo" value="@Model.OrderNo" style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>From Date</label>

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" value="@Model.FromDate" name="FromDate" id="FromDate">
                </div>
                <!-- /.input group -->
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>To Date</label>

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" name="ToDate" value="@Model.ToDate" id="ToDate">
                </div>
                <!-- /.input group -->
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Depot</label>

                    @Html.DropDownListFor(modelItem => Model.DepotId, new SelectList(ViewBag.Depots, "DepotId", "DepotName", Model.DepotId),
                    "Select Depot",new { @class = "form-control select2" })

               @* <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Select Depot</option>
                  <option>Select Value 1</option>
                  <option>Select Value 2</option>
                  <option>Select Value 3</option>
                  <option>Select Value 4</option>
                  <option>Select Value 5</option>
                  <option>Select Value 6</option>
                </select>*@
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Status</label>

                   @Html.DropDownListFor(modelItem => Model.Status, new SelectList(ViewBag.StatusStages, "Name", "Name", Model.Status),
                            "Select Status", new { @class = "form-control select2" })      
               @* <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Select Status</option>
                  <option>Pending</option>
                  <option>Approved</option>
                  <option>Delivered</option>
                </select>*@
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <div class="box-footer">
        	<button type="submit" class="btn btn-primary">SEARCH</button>
            <button type="button" id="reset" class="btn btn-default">RESET</button>
        </div>
              }
      </div>
          
          <div class="box">
            <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Depot</th>
                  <th>Order No.</th>
                  <th>Order Date</th>
                  <th>Order Amount</th>
                  <th>Status</th>
                  <th class="excludeThisClass">Details</th>
                   <th>
                       Create IDN
                   </th>
                </tr>
                </thead>
                <tbody>
               
                  @foreach(var item in Model.orderManageModal)
                  {
                      var Oid = DMSBO.EncryptOperation.Encode(item.OrderId.ToString());
                <tr>
                  <td>@item.DepoName</td>
                  <td>@item.OrderNo</td>
                  <td>@item.OrderDate.ToShortDateString()</td>
                  <td>@item.OrderAmount</td>
                  <td>
                      @if(item.StatusGroup.ToLower()=="pending")
                      {
                      <span class="label label-info">@item.Status</span>
                      }
                      else if (item.StatusGroup.ToLower() == "confirm" || item.StatusGroup.ToLower() == "completed")
                      {
                           <span class="label label-success">@item.Status</span>
                      }
                      else if (item.StatusGroup.ToLower() == "processing")
                      {
                           <span class="label label-warning">@item.Status</span>
                      }

                  </td>
                  <td><a href="~/User/PurchaseOrderDetails?Oid=@Oid"><i class="fa fa-file"></i></a></td>
                  
                 <td>
                     @if (User.IsInRole("HOCLK") || User.IsInRole("DOCLK"))
                     {
                     if (item.StatusGroup.ToLower() == "confirm")
                     {
                     <a href="~/User/CreateIDNOnParchaseOrder?Oid=@Oid" class="btn btn-success">Create IDN</a>
                     }
                     }
                 </td>
                </tr>
                  }
             
                </tbody>
              </table>
                  <div id='Paging' style="text-align: center">
                            
                   Page @(Model.orderManageModal.PageCount < Model.orderManageModal.PageNumber ? 0 : Model.orderManageModal.PageNumber)
                                of @Model.orderManageModal.PageCount

                                @Html.PagedListPager(Model.orderManageModal, page => Url.Action("PurchaseOrderList", new
                           {
                               page,
                               DepotId = Model.DepotId,
                               FromDate = Model.FromDate,
                               Status = Model.Status,
                               ToDate = Model.ToDate,
                               OrderNo=Model.OrderNo
                           }))
             </div>
                       </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

<script>
 //Date picker
    $('#FromDate').datepicker({
      autoclose: true
    });
	$('#ToDate').datepicker({
      autoclose: true
    });
	</script>

<script>

    $("#reset").on("click", function () {

        var url = '@Url.Action("PurchaseOrderList", "User")';
        window.location.href = url;
    });

    $(document).ready(function () {
        var table = $('#example2').DataTable({
            'paging': false,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': true,
            'autoWidth': false,
            'processing': true,
            dom: 'Brtip',
            'buttons': [
  
       {
           extend: 'excel',
           footer: false,
           exportOptions: {
               columns: [1,2]
           }
       }         
            ]  
        } );



       

        $('#btn-export').on('click', function () {

            $('<table>').append($(table.table().header()).clone()).append(table.$('tr').clone()).table2excel({
                exclude: ".excludeThisClass",
                name: "List1",
                filename: "OrderMaster"
            });
        });
    })

</script>