﻿@model DMSBO.OrderAndDetail

@{
    ViewBag.Title = "Purchase Order Details";
}

 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Purchase Order Details
        
        
          <div class="pull-right">
           <button    onclick="window.history.go(-1); return false;" class="btn btn-facebook" type="button" value="Back" > <i class="fa fa-chevron-left" aria-hidden="true"></i>BACK</button>
          </div>
      </h1>
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box box-default">
        
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
          	
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Order No.</label>

                <input type="text" class="form-control" value="@Model.orderManageModal.OrderNo" disabled style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Depot</label>

                <input type="text" class="form-control" value="@Model.orderManageModal.DepoName" disabled style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Order Date</label>

                <input type="text" class="form-control" value="@Model.orderManageModal.OrderDate.ToShortDateString()" disabled style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Order Amount</label>

                <input type="text" class="form-control" value="Rs. @Model.orderManageModal.OrderAmount" disabled style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Status</label>

                <input type="text" class="form-control" value="@Model.orderManageModal.Status" disabled style="width: 100%;">
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <div class="box-footer">
        	<div class="table-responsive">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Product Code</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>Rate</th>
                  <th>Tax Amount</th>
                  <th>Total</th>
                </tr>
                </thead>
                <tbody>
                
                    @foreach(var item in Model.orderDetailModal)
                    {
                    <tr>
                  <td>@item.ProductCode</td>
                  <td>@item.ProductName</td>
                  <td>@item.quantity</td>
                  <td>Rs. @item.rate</td>
                  <td>Rs. @item.taxamount</td>
                  <td>Rs. @item.total</td>
                </tr>
                    }
                
                </tbody>
              </table>
              </div>
        </div>
      </div>
          
          
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>