﻿@{
    ViewBag.Title = "UpdateStockQuantity";
}




<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Update Stock Quantity        
       
              <div class="pull-right">
             
          @using (Html.BeginForm("ExportStockQuantityData", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
                <button type="submit" value="Export" name="ActionPost" class="btn btn-facebook"><i class="fa fa-file-excel-o" aria-hidden="true"></i> EXPORT</button>
         }
                  </div>
             </h1>
        <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Management</li>
      </ol>-->

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Upload</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm("UpdateStockQuantity", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body">
                            <div class="row">

                              
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label>Upload File</label>
                                        <input type="file" name="UserFile" class="form-control" value="" style="width: 100%;">
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-left">Upload <i class="fa fa-chevron-right" aria-hidden="true"></i></button>

                        </div>
                    }

                </div>

                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

