﻿@{
    ViewBag.Title = "UploadProductPriceList";
}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Import User
        
          <div class="pull-right">
            <a href="user-management.html" type="button" class="btn btn-facebook"><i class="fa fa-chevron-left" aria-hidden="true"></i> BACK</a>
          </div>
      </h1>
      <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Management</li>
      </ol>-->
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box box-default">
        <div class="box-body">
          <div class="row">
          	
           
            
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Import Product List</label>
                <input type="file" class="form-control" style="width: 100%;">
              </div>
            </div>
        
                   <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Upload Price Type</label>
                <input type="radio" name="Type" value="" class="form-control" style="width: 100%;">
              </div>
            </div>
        

                   <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Import User</label>
                <input type="file" class="form-control" style="width: 100%;">
              </div>
            </div>
        
                  <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <div class="box-footer">
        	<button type="button" class="btn btn-primary">SUBMIT</button>
            <button type="button" class="btn btn-default">RESET</button>
        </div>
      </div>
          
          
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
