﻿@model DMS.Models.UserModel

@{
    ViewBag.Title = "UserDetails";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Details
        
          <div class="pull-right">
            <a href="user-management.html" onclick="window.history.go(-1); return false;" type="button" class="btn btn-facebook" value="Back" ><i class="fa fa-chevron-left" aria-hidden="true"></i> BACK</a>
          </div>
      </h1>
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box box-default">
        
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
          	@foreach(var item in Model.userManagementModel)
           {
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Name</label>
 
                <input type="text" class="form-control" value="@item.Name" disabled style="width: 100%;">
               
                                                
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>EmailId</label>

                <input type="text" class="form-control" value="@item.EmailId" disabled style="width: 100%;">
              </div>
            </div>
              <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>MobileNo</label>

                <input type="text" class="form-control" value="@item.MobileNo" disabled style="width: 100%;">
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Depot</label>

                <input type="text" class="form-control" value="@item.DepoName" disabled style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>UserCode</label>

                <input type="text" class="form-control" value="@item.Usercode" disabled style="width: 100%;">
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>RoleCode</label>

                <input type="text" class="form-control" value="@item.RoleCode" disabled style="width: 100%;">
              </div>
            </div>
           
              <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Status</label>

                <input type="text" class="form-control" value="@Enum.GetName(typeof( DMSBO.UserEnumration),item.ActiveStatus)" disabled style="width: 100%;">
              </div>
            </div>
               <div class="col-md-4 col-sm-6">
               <div class="form-group">
                <label>Created On</label>

                <input type="text" class="form-control" value="@item.CreatedOn" disabled style="width: 100%;">
              </div>
            </div>
           }
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
       </div>


             <div class="box-footer">
        	<div class="table-responsive">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email Id</th>
                  <th>Mobile No</th>
                  <th>Depot</th>
                  <th>User Code</th>
                  <th>Role Code</th>
                  <th>Active Status</th>
                  <th>Created On</th>
                   
                  
                </tr>
                </thead>
               
                   <tbody>
               
                  @foreach(var item in Model.userManagementModel)
                  { 
                    
                      
                <tr>
                  <td>@item.Name</td>
                  <td>@item.EmailId</td>
                  <td>@item.MobileNo</td>
                  <td>@item.DepoName</td>
                  <td>@item.Usercode</td>
                    <td>@item.RoleCode</td>
                  <td> @Enum.GetName(typeof( DMSBO.UserEnumration),item.ActiveStatus) </td>
                    <td>@item.CreatedOn</td>
                </tr>
                  }
             
                </tbody>

              </table>
              </div>
        </div>
      </div>
          

  <!-- /.box -->
        </div>
        <!-- /.col -->
    
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>