﻿@model DMS.Models.UserModel
@{
    ViewBag.Title = "UserList";
}

 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Management
    <div class="pull-right">

        @using (Html.BeginForm("ExportUserData", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
                <button type="button" class="btn btn-facebook" data-toggle="modal" data-target="#importuser" data-title="Reject" >IMPORT</button>
                <button type="submit" value="Export" name="ActionPost" class="btn btn-facebook"><i class="fa fa-file-excel-o" aria-hidden="true"></i> EXPORT</button>
        
             <!-- Modal HTML -->
                                                <div id="importuser" class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title">Import User Account</h4>
                                                            </div>
                                                            
                                                                <div class="modal-body">

                                                                 <div class="col-md-12">
                                                                    <div class="form-group" >
                                                                        <label for="message-text" class="control-label LableFont">Select File:</label>
                                                                        <input type="file" class="form-control" name="UserFile" />
                                                                         </div>
                                                                        </div>


                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                                                                    <button name="ActionPost" value="Upload" type="submit" class="btn btn-primary">Upload</button>
                                                                 </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal HTML -->

        
        }
    </div>
      </h1>
      
      
    </section>

     <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Search Filter</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>

         @using (Html.BeginForm())
         {
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
          	
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Name/Email Id/Mobile No.</label>
                <input type="text" class="form-control" name="Name"  value="@Model.Name" style="width: 100%;">
              </div>
            </div>
        
            <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Region.</label>
                <input type="text" class="form-control" name="Region" value="@Model.Region" style="width: 100%;">
              </div>
            </div>

             <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Role Code.</label>
                <input type="text" class="form-control" name="RoleCode" value="@Model.RoleCode" style="width: 100%;">
              </div>
            </div>

          
              <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Depot</label>

                    @Html.DropDownListFor(modelItem => Model.DepotId, new SelectList(ViewBag.Depots, "DepotId", "DepotName", Model.DepotId),
                    "Select Depot", new { @class = "form-control select2" })
            @* <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Select Depot</option>
                  <option>Select Value 1</option>
                  <option>Select Value 2</option>
                  <option>Select Value 3</option>
                  <option>Select Value 4</option>
                  <option>Select Value 5</option>
                  <option>Select Value 6</option>
                </select>*@
              </div>
            </div>

              <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label>Status</label>
               
                  @*@Html.DropDownListFor(m => m.ActivityStatus, new SelectList(Enum.GetValues(typeof(DMS.Models.UserEnumration))), "Select Status", new { @class = "form-control select2" })
                   *@  
                @*<select class="form-control select2" style="width: 100%;" >       
                 <option selected="selected">Select Status</option>*@
                 @Html.DropDownListFor(c => c.ActiveStatus, Enum.GetValues(typeof(DMSBO.UserEnumration)).Cast<DMSBO.UserEnumration>().Select(c => new SelectListItem { Text = c.ToString(), Value = ((int)((DMSBO.UserEnumration)Enum.Parse(typeof(DMSBO.UserEnumration), c.ToString()))).ToString() }), "Select Status", new { @class = "form-control select2" })
                  
                  
@*                    <option>Inactive</option>
                    <option>Active</option>*@
                   
                    
                @*</select>*@
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <div class="box-footer">
        	<button type="submit" class="btn btn-primary">SEARCH</button>
            <button type="button" class="btn btn-default">RESET</button>
        </div>
         }
      </div>
             
            <div class="box">
            <!--<div class="box-header">
              <h3 class="box-title">Order Details</h3>
            </div>-->
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email Id</th>
                  <th>Mobile No</th>
                  <th>Depot</th>
                  <th>User Code</th>
                  <th>Role Code</th>
                  <th>Active Status</th>
                  <th>Created On</th>
                  <th>Details</th>
                </tr>
                </thead>       
 
            <tbody>
               
                  @foreach (var item in Model.userManagementModel)
                  {

                      var encrypt = DMSBO.EncryptOperation.Encode(item.Usercode);
                <tr>
                  <td>@item.Name</td>
                  <td>@item.EmailId</td>
                  <td>@item.MobileNo</td>
                  <td>@item.DepoName</td>
                  <td>@item.Usercode</td>
                    <td>@item.RoleCode</td>
                  <td> @Enum.GetName(typeof(DMSBO.UserEnumration), item.ActiveStatus) </td>
                    <td>@item.CreatedOn</td>
                  <td><a href="~/User/UserDetails?Uid=@encrypt"><i class="fa fa-file"></i></a></td>
                </tr>
                  }
             
                </tbody>
               </table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
         
    <script>
        //Date picker
        $('#fromDatepicker').datepicker({
            autoclose: true
        });
        $('#toDatepicker').datepicker({
            autoclose: true
        });
	</script>     
     