﻿<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>KulimaGold | @ViewBag.Title</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link href="~/css/reset.css" rel="stylesheet" />
  <link rel="stylesheet" href="~/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="~/css/ionicons.min.css">

  <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="~/css/daterangepicker.css">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css">
  <!-- iCheck for checkboxes and radio inputs -->

  <!-- Theme style -->
  <link rel="stylesheet" href="~/css/jquery-ui.min.css">

  <link rel="stylesheet" href="~/css/AdminLTE.min.css">



  <link rel="stylesheet" href="~/css/_all-skins.min.css">
  <link rel="stylesheet" href="~/css/custom.css">
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <script src="../../js/jquery.min.js"></script>

  <script src="../../js/jquery-ui.min.js"></script>
  @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>*@
  <script src="../../js/Jqueryvalidation.js"></script>
  <script src="../../js/jquery.validate.unobtrusive.js"></script>


  @*     <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.min.js"></script>

  <script src="https://www.google.com/jsapi" type="text/javascript"></script>


</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      @{
                
        var homepath = System.Web.Configuration.WebConfigurationManager.AppSettings["Url"].ToString() + "User/Dashboard";
      }
      <a href="@homepath" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
          <img src="~/images/logo.png" width="100"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          <img src="~/images/logo.png" width="100"><b>KulimaGold</b> Ltd</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="~/images/avatar.png" class="user-image" alt="User Image">
                <span class="hidden-xs">@DMSBL.AuthenticateUser.UserNameRole(User.Identity.Name)</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-down pull-right"></i>
                </span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->

                <li>
                  <a href="#" data-toggle="modal" data-target="#PasswordChange" data-title="Reject">Change Password</a>
                </li>
                <li>
                  <a href="~/Account/Login">Sign out</a>
                </li>
              </ul>
            </li>

          </ul>


        </div>
      </nav>

    </header>


    <!-- Modal HTML -->
    <div id="PasswordChange" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Change Password</h4>
          </div>
          <form method="post" action="~/Account/RequestChangePassword">

            <div class="modal-body">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="message-text" class="control-label LableFont">Current Password:</label>
                  <input type="hidden" value="@User.Identity.Name" name="Username" />
                  <input type="password" class="form-control" name="OldPassword" value="" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="message-text" class="control-label LableFont">New Password:</label>
                  <input type="password" class="form-control" name="NewPassword" value="" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="message-text" class="control-label LableFont">Confirm Password:</label>
                  <input type="password" class="form-control" name="NewConfirmPassword" value="" />
                </div>
              </div>


            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
              <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal HTML -->
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <!--<li class="header">MAIN NAVIGATION</li>-->
          <li>
            <a href="~/User/Dashboard">
              <i class="fa fa-dashboard"></i><span>Dashboard</span>
            </a>
          </li>
          @if (User.IsInRole("SPADM"))
          {
            <li>
              <a href="~/User/DepotList">
                <i class="fa fa-bar-chart"></i><span>Depot Management</span>
              </a>
            </li>
          }

          @if (User.IsInRole("SPADM"))
          {
            <li>
              <a href="~/User/BankList">
                <i class="fa fa-bank"></i><span>Bank Management</span>
              </a>
            </li>
          }

          @if (User.IsInRole("SPADM"))
          {
            <li>
              <a href="~/User/ProductList">
                <i class="fa fa-industry"></i><span>Product Management</span>
              </a>
            </li>
          }


          @if (User.IsInRole("SPADM") || User.IsInRole("HOSPR") || User.IsInRole("ACTNT"))
          {
            <li>
              <a href="~/User/UpdateStockPrice">
                <i class="fa fa-industry"></i><span>Update Selling Price</span>
              </a>
            </li>
          }


          @if (User.IsInRole("SPADM") || User.IsInRole("HOSPR") || User.IsInRole("ACTNT"))
          {
            <li>
              <a href="~/User/UpdateStockQuantity">
                <i class="fa fa-industry"></i><span>Update Product Stock</span>
              </a>
            </li>
          }


          @if (User.IsInRole("SPADM"))
          {
            <li>
              <a href="~/User/DirectSupplierList">
                <i class="fa fa-industry"></i><span>Direct Supplier's</span>
              </a>
            </li>
          }

          @if (User.IsInRole("SPADM") || User.IsInRole("HOSPR") || User.IsInRole("HOCLK") || User.IsInRole("ACTNT") || User.IsInRole("ACCLK"))
          {
            <li>
              <a href="~/User/DSRList">
                <i class="fa fa-pie-chart"></i><span>Daily Sales Register</span>
              </a>
            </li>
          }

          @if (User.IsInRole("SPADM") || User.IsInRole("HOSPR") || User.IsInRole("HOCLK") || User.IsInRole("ACTNT") || User.IsInRole("ACCLK"))
          {
            <li>
              <a href="~/User/BankTransactionList">
                <i class="fa fa-bank"></i><span>Bank Transactions</span>
              </a>
            </li>
          }

          @if (User.IsInRole("SPADM") || User.IsInRole("HOSPR") || User.IsInRole("HOCLK") || User.IsInRole("DOCLK") || User.IsInRole("DOMGR"))
          {
            <li>
              <a href="~/User/PurchaseOrderlist">
                <i class="fa fa-pie-chart"></i><span>Purchase order</span>
              </a>
            </li>
          }

          @if (User.IsInRole("SPADM") || User.IsInRole("HOSPR") || User.IsInRole("HOCLK") || User.IsInRole("DOCLK") || User.IsInRole("DOMGR"))
          {
            <li>
              <a href="~/User/IDNList">
                <i class="fa fa-pie-chart"></i><span>Internal Batch Transfer</span>
              </a>
            </li>
          }

          @if (User.IsInRole("SPADM") || User.IsInRole("HOSPR") || User.IsInRole("HOCLK") || User.IsInRole("DOCLK") || User.IsInRole("DOMGR"))
          {
            <li>
              <a href="~/User/GRRList">
                <i class="fa fa-pie-chart"></i><span>Goods Received Receipt</span>
              </a>
            </li>
          }

          @if (User.IsInRole("SPADM") || User.IsInRole("ACTNT") || User.IsInRole("RGMGR"))
          {
            <li class="treeview">
              <a href="#">
                <i class="fa fa-share"></i><span>Reports</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="~/User/DSRReport">DSR Summary Report </a></li>
                    <li><a href="~/User/DSRRProductReport">DSR  Report </a></li>
                <li><a href="~/User/BankTransactionReport">Bank Transaction Report</a></li>
                <li><a href="~/User/DSRPCVReport">PCV Report </a></li>
                    <li><a href="~/User/DSRPCSReport">PCS  Report </a></li>
                <li><a href="~/User/ProductStockReport">Stock Valuation Report</a></li>
                <li><a href="~/User/PurchaseOrderReport">Purchase Order Report</a></li>
                <li>
                  <a href="~/User/OrderList">Order Management
                  </a>
                </li>
              </ul>
            </li>
          }

          @if (User.IsInRole("SPADM"))
          {
            <li>
              <a href="~/User/UserList">
                <i class="fa fa-user"></i><span>User Management</span>
              </a>
            </li>
          }
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>
    @RenderBody()

    <footer class="main-footer">
      <!--<div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>-->
      <strong>Copyright &copy; KulimaGold Ltd 2018</strong> All rights reserved.
    </footer>

    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->


  <!-- jQuery 3 -->

  <!-- Bootstrap 3.3.7 -->
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/bootstrap-confirmation.min.js"></script>
  <!-- SlimScroll -->
  <script src="../../js/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->
  <script src="../../js/fastclick.js"></script>
  <!-- AdminLTE App -->
  <script src="../../js/adminlte.min.js"></script>
  <script src="../../js/jquery.toaster.js"></script>

  <script src="../../js/jquery.dataTables.min.js"></script>
  <script src="../../js/dataTables.bootstrap.min.js"></script>
  <!-- date-range-picker -->
  <script src="../../js/daterangepicker.js"></script>
  <!-- bootstrap datepicker -->
  <script src="../../js/bootstrap-datepicker.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
  <script src="../../js/jquery.table2excel.js"></script>
  <script src="../../js/xlscript.js"></script>

  <script>




    $(document).ready(function () {


      $("#DepotName").autocomplete({
        source: function (request, response) {
          $.ajax({
            url: "/User/Depotjson",
            type: "POST",
            dataType: "json",
            data: { Prefix: request.term },
            success: function (data) {
              response($.map(data, function (item) {
                return { label: item.DepotName, value: item.DepotId };
              }))

            }
          })
        },
        messages: {
          noResults: "", results: ""
        }
      });

        @foreach (ModelState modelState in ViewData.ModelState.Values)
        {
          foreach (ModelError error in modelState.Errors)
          {
          
               <text>
      var messages = "@error.ErrorMessage.ToString()";
      $.toaster({ priority: 'danger', title: 'Note', message: messages });
      </text>
          }
        }


            @if (Session["Validation"] != null)
            {
              foreach (ModelState modelState in (ICollection<ModelState>)Session["Validation"])
              {
                foreach (ModelError error in modelState.Errors)
                {
          
               <text>
      var messages = "@error.ErrorMessage.ToString()";
      $.toaster({ priority: 'danger', title: 'Note', message: messages });
      </text>
                }
              }
              Session["Validation"] = null;
            }

      @if (Session["StatusMessage"] != null)
      {
        DMSBO.StatusMessage statusMessage = (DMSBO.StatusMessage)Session["StatusMessage"];

        if (statusMessage.Status == true)
        {
          <text>
      var messages = "@statusMessage.Message";
      $.toaster({ priority: 'success', title: 'Note', message: messages });
         </text>
        }
        else
        {
              <text>
      var messages = "@statusMessage.Message";
      $.toaster({ priority: 'danger', title: 'Note', message: messages });
            </text>
        }
        Session["StatusMessage"] = null;

      }
    });

    $('[data-toggle=confirmation]').confirmation({
      rootSelector: '[data-toggle=confirmation]',
      container: 'body'
    });

  </script>


</body>

</html>
