﻿@using CaptchaMvc.HtmlHelpers  
@using DMSBO

@{
    ViewBag.Title = "Login";
}

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>KulimaGold | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="~/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="~/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="~/css/blue.css">
  
  <link rel="stylesheet" href="~/css/custom.css">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    
</head>
<body class="hold-transition login-page">
<!--<div class="fadeLayer"></div>-->
<div class="login-box">
  <div class="login-logo">
    <a href="index2.html">
    	<img src="~/images/logo.png" width="100" />
    </a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Enter Username to reset password.</p>

      @using (Html.BeginForm()) {  
    @Html.ValidationSummary(true) 
    <div >
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="UserName" placeholder="Username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
       <div class="form-group has-feedback">
      	<label>Security Code</label><br>
      	<img src="/Account/GetCaptchaImage" width="180">
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="CapthaValue" placeholder="Enter above security code">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <!-- /.col -->
        <div class="col-xs-6">
          <button type="submit"  class="btn btn-primary btn-block btn-flat">Reset Password</button>
        </div>
        <!-- /.col -->
      </div>
    </div>
	<br />
	<div class="row">
    	<div class="col-xs-6">
            @*<a href="#">Download App</a>*@&nbsp;
		</div>
        <div class="col-xs-6">
		    <a href="~/Account/Login" class="pull-right">Back to Sign In</a>
    	</div>
    </div>
      }
  </div>
  <!-- /.login-box-body -->
        
  <div class="login-copyright">
  	<p>Copyright &copy; KulimaGold Ltd 2018</p>
  </div>
  
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="~/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/js/icheck.min.js"></script>
    
<script src="~/js/jquery.toaster.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });



  $(document).ready(function () {



        @foreach (ModelState modelState in ViewData.ModelState.Values)
        {
            foreach (ModelError error in modelState.Errors)
            {
             
               <text>
         var messages = "@error.ErrorMessage.ToString()";
         $.toaster({ priority: 'danger', title: 'Error', message: messages });
      </text>
            }
        }

       @if (Session["StatusMessage"] != null)
      {
          StatusMessage statusMessage = (StatusMessage)Session["StatusMessage"];

          if (statusMessage.Status == true)
          {
          <text>
      var messages = "@statusMessage.Message";
      $.toaster({ priority: 'success', title: 'Note', message: messages });
         </text>
          }
          else
          {
              <text>
      var messages = "@statusMessage.Message";
      $.toaster({ priority: 'danger', title: 'Note', message: messages });
      </text>
          }

          Session["StatusMessage"] = null;
      }

  });

</script>
</body>
</html>

