@charset "utf-8";
/* CSS Document */

.dropdown-menu {
    z-index: 9999!important;
}

/*.login-page, .register-page {
	background: url(../../dist/img/login-bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: auto;
}*/

.login-box, .register-box {
    position: relative;
    z-index: 99;
}

.fadeLayer {
	background: rgba(0, 0, 0, 0.55);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.UserTypeRadio label {
    font-weight: 600;
	margin-right: 15px;
}

.UserTypeRadio label .iradio_square-blue {
    margin-right: 2px;
}

.login-box-body h4 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    color: #0053a5;
}

.login-copyright {
	margin-top: 20px;	
}

.login-copyright p {
	color: #404040;
    text-align: center;
    font-size: 16px;
}

.panelHeading {
	text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.small-box>.inner {
    min-height: 106px;
}

.small-box h3 {
    font-size: 26px;
    line-height: 28px;
    font-weight: 600;
}

.main-header .logo {
	padding: 0;
	text-align: left;
}

.main-header .logo img {
    width: 54px;
    margin-top: -3px;	
}

.main-header .logo .logo-lg img {
	margin-right: 10px;
}

.skin-blue .main-header .logo:hover {
    background-color: #ffffff;
}

.navbar-nav>.user-menu .pull-right-container .fa {
    margin-left: 10px;
    margin-top: 3px;
}

.navbar-nav>.user-menu .dropdown-menu {
    width: auto;
    right: 0 !important;
}

.navbar-nav>.user-menu .dropdown-menu>li>a {
    color: #777 !important;
}

.navbar-nav>.user-menu .dropdown-menu>li>a:hover {
    background-color: #e1e3e9 !important;
}

.navbar-nav>.user-menu .dropdown-menu li {
	
}

.navbar-nav>.user-menu .dropdown-menu li a {
    border-bottom: 1px solid #f3f7fa;
    padding: 8px 15px;
}


.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    margin-left: 0;
}

/*.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #488331;
}

.skin-blue .sidebar-menu .treeview-menu>li>a {
    color: #8aa4af;
    white-space: normal;
    padding-left: 35px;
}

.skin-blue .sidebar a {
    color: #ffffff;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #3b7331;
}*/

.skin-blue .main-header .logo {
    background-color: #162021 !important;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.treeview-menu>li>a>.fa {
    width: 20px;
    position: absolute;
    left: 15px;
    top: 10px;
}

.sidebar-menu>li {
    white-space: normal;
}

.skin-blue .sidebar-menu>li>a {
    padding-left: 35px;
}

.sidebar-menu>li>a>.fa {
    width: 20px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
    padding-left: 15px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.fa {
    position: relative;
    left: auto;
    top: auto;
}

.sidebar-mini.sidebar-collapse .panelHeading {
    font-size: 10px;
}

hr {
    margin-top: 18px;
    margin-bottom: 18px;
}

.divisionList {
	padding: 0;
	margin-bottom: 30px;
}

.divisionList li {
	list-style-type: none;
	display: inline-block;
}

.divisionList li label {

}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #162021;
    background: rgb(243, 247, 249);
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #162021;
}

.skin-blue .main-header .navbar {
    background-color: #ffffff;
}

.skin-blue .main-header .navbar .nav>li>a {
    color: #000;
}

.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active,
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    background: rgb(243, 247, 249);
    color: #000000;
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #314e1a;
}

/* */
.bg-color1 {
    background-color: #9FA8DA !important;
	color: #fff !important;
}

.bg-color2 {
    background-color: #81D4FA !important;
	color: #fff !important;
}

.bg-color3 {
    background-color: #FFCC80 !important;
	color: #fff !important;
}

.bg-color4 {
    background-color: #80CBC4 !important;
	color: #fff !important;
}

.bg-color5 {
    background-color: #F06292 !important;
	color: #fff !important;
}

.bg-color6 {
    background-color: #FF8A65 !important;
	color: #fff !important;
}

.bg-color7 {
    background-color: #64B5F6 !important;
	color: #fff !important;
}

.bg-color8 {
    background-color: #90A4AE !important;
	color: #fff !important;
}

.asnFormFields .col-md-2 {
    width: 20%;
}

.inputLabel {
    border: 0;
    box-shadow: none;
    pointer-events: none;
    min-width: 100px;
    background-color: transparent!important;
    text-align: center;
}

.inputField {
    min-width: 70px;
    text-align: right;
    padding: 6px 8px;
}

/*.asnTableContainer {
    overflow: auto;
    max-height: 400px;
}

.table>thead:first-child>tr:first-child>th {
    vertical-align: top;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
}

.table>tbody>tr>td {
    font-size: 13px;
    line-height: 14px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 6px;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.table>thead>tr.info>th {
    background-color: #3c8dbc;
    color: #fff;
    border-top: 0 !important;
}
*/

.table .fa.approve {
	font-size: 16px;
    background: #00a65a;
	color: #fff;
    padding: 6px;
    width: 30px;
    text-align: center;
}

.table .fa.approve:hover {
    background-color: #008d4c;
}

.table .fa.reject {
	font-size: 16px;
    background: #dd4b39;
	color: #fff;
    padding: 6px;
    width: 30px;
    text-align: center;
}

.table .fa.reject:hover {
    background-color: #d73925;
}

.btn .fa {
	font-size: 11px;
    margin-right: 7px;
}

strong {
    font-weight: 600;
}

.small-box .icon {
	top: auto;
    bottom: 0;
    right: 10px;
    z-index: 0;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box:hover .icon {
    font-size: 65px;
}


@media (max-width: 767px) {

.content-header>h1 .pull-right{
    float: none!important;
    margin: 15px 0px;
}

}