<table bgcolor="#f6f6f6" border="0" cellpadding="0" cellspacing="0" style="font-family:'Century Gothic'!important;line-height:normal;font-size:13px;/* display: none; */" width="100%">
	<tbody>
		<tr>
			<td>
			<table border="0" width="100%">
				<tbody>
					<tr>
						<td align="left">
						<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="713">
							<tbody>
								<tr>
									<td bgcolor="#FFFFFF" height="100" style="padding-left:15px" width="70%"><img src="../../logo.png" class="CToWUd"></td>
									<td bgcolor="#FFFFFF" style="padding-right:15px;margin-top:13px;text-align:right" width="30%">
									<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td align="left" width="100%">
												<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td align="left" style="padding:0px 7px 0 0" width="50"><img alt="" height="16" src="https://www.znetlive.com/announcements/dec-emailer/white-labeled1/images/email-icon.png" width="16" class="CToWUd"></td>
															<td align="left" style="padding:0px 0 0 0" valign="middle" width="100%"><a href="mailto:hr@kulimagold.com" style="color:#000;text-decoration:none" target="_blank"><strong style="font-size:13px">hr@kulimagold.com</strong> </a></td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
											<tr>
												<td align="left" style="padding:7px 0 0 0" width="100%">
												<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td bgcolor="#FFFFFF" colspan="2" valign="top"><table border="0" cellpadding="0" cellspacing="0" class="m_1800235021393526943newtable" width="100%">
	<tbody>
		<tr>
			<td align="left" bgcolor="#e3b651" class="m_1800235021393526943blue-bar" style="padding:19px 30px;font-family:'Century Gothic'" width="100%"><span style="font-size:18px;line-height:15px;color:#ffffff">Dear {0},<br>
			<br>Welcome to Kulimagold Depot Management System</span></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" style="" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td align="left" colspan="2" style="padding:20px;font-size:15px;font-family:'Century Gothic';">This is to inform you have reset password for your account use the link given below to reset password:<br>
						<br>
						<strong>UserName :</strong> {1} <br>
						<strong>Email :</strong> {2}<br>
						<strong>Link :</strong> <a href={3}>{4}</a><br>
						<br>
                        </td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
 </td>
								</tr>
								<tr>
									<td bgcolor="#FFFFFF" colspan="2" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td>
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td align="right" bgcolor="#e3b651" style="padding:20px 10px 20px 10px" valign="middle" width="200"><span style="font-size:16px"><strong style="font-size:18px;line-height:28px"><span style="color:#333333">follow us :</span> </strong> </span></td>
															<td bgcolor="#e3b651" align="left" style="padding:20px 10px 20px 10px" valign="bottom" width="200"><a href="https://www.facebook.com/Kulimagold" target="_blank"><img alt="Facbook" height="auto" src="http://www.nihilent.com/wp-content/themes/illdy/layout/images/icon_fb.png" width="auto" class="CToWUd"></a>&nbsp;&nbsp;<a href="" target="_blank" data-saferedirecturl=""><img alt="Google Plus" height="auto" src="http://www.nihilent.com/wp-content/themes/illdy/layout/images/icon_in.png" width="auto" class="CToWUd"></a>&nbsp;&nbsp;<a href="" target="_blank" data-saferedirecturl=""><img alt="Twitter" height="28" src="http://www.nihilent.com/wp-content/themes/illdy/layout/images/twitter_N.png" width="28" class="CToWUd"></a></td>
														</tr>
                
                                                	</tbody>
												</table>
												</td>
											</tr>
                                                                                    <tr>
												       <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;">
                    <span class="apple-link" style="color: #999999; font-size: 12px; text-align: center;">Kulimagold Ltd.
A-Block, 4th Floor, Vishrantwadi, 
Nagar Road, Pune 411 015 
India </span>
                    <br> Don't like these emails? <a href="http://i.imgur.com/CScmqnj.gif" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">Unsubscribe</a>.
                  </td>
           </tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>